.tiny_htmlblock li {
    border: 1px solid #aaa;
    margin-bottom: 0.5rem;
    padding: 3px;
    list-style: none;
    margin-left: -2rem;
    cursor: pointer;
}
.tiny_htmlblock li:hover {
    border: 1px solid #777;
}
.tiny_htmlblock li.selected {
    border: 3px solid #777;
}
